@import url("/fonts/AvenirNextCyr-Medium.ttf");
@import url("/fonts/AvenirNextCyr-Regular.ttf");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Open sans";

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #FBFBFC !important;
}

.custom_button {
 background-color: white;
 border: 1px solid;
 color: #5E6DFA;
 border-radius: 30px;
 font-size: 10px;
 padding: 6px 15px;
 font-weight: 400;
}

.custom_button:hover {
  background-color: #5E6DFA;
  color: white;
}

.avenir {
  font-family: "Avenir Next", Arial, Helvetica, sans-serif;
}